/* __________________ FontFamily __________________ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* __________________ Variable Root __________________ */
:root {
    /* ---------- Colors ---------- */
    --primary-color: #11a849;
    --secondary-color: #1a202c;
    --gray-color: #333333;
    --body-color: #fff;

    /* ---------- Font Weight ---------- */
    --font-medium: 500;
    --font-semiBold: 600;
    --font-bold: 700;

    /* ---------- z-index ---------- */
    --z-1: 10;
    --z-2: 20;
    --z-3: 30;
    --z-4: 40;
    --z-5: 50;
}

/* __________________ BASE __________________ */
*,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
*,::after,::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--body-color);
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
/* h1,h2,h3,h4,h5,h6 {
    color: var(--text-color);
    font-family: var(--family-primary);
    font-weight: var(--font-medium);
} */
h1{ font-size: 62px;}
h2{ font-size: 43px;}
h3{ font-size: 36px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 18px;}
small{ font-size: 12px}

/* i {
    @include icon(30px, 30px, 30px);
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px var(--body-color-light);
    color: var(--primary-color);
    transition: .5s;
    cursor: pointer;
    text-align: center;
}
i:hover {
    box-shadow: 0 0 4px var(--body-color-light);
    background-color: gray;
    border-radius: 5px;
} */

/* __________________ Class CSS __________________ */
.container1 {
    max-width: calc(1240px + 40px);
    padding: 0px 20px;
    margin: 0 auto;
}
input {
    
    outline: none;
    background-color: inherit;
    padding: 5px;
    width: 100%;
}
/* button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
    background-color: var(--primary-color);
    transition: .5s;
    white-space: nowrap;
} */
/* button:hover{
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 3px gray;
} */
.normal{
    font-weight: var(--font-bold);
}
.bold{
    font-weight: var(--font-bold);
}
.same_bold{
    font-weight: var(--font-bold);
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #3333335b;
}
.flex1{
    display: flex;
    align-items: center;
    gap: 15px;
}
.line1,.line2,.line3,.line5, .line7 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line1 {
    -webkit-line-clamp: 1;
}
.line2 {
    -webkit-line-clamp: 2;
}
.line3 {
    -webkit-line-clamp: 3;
}
.line5 {
    -webkit-line-clamp: 5;
}
.line7 {
    -webkit-line-clamp: 7;
}
  
.scrolls::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
.scrolls::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px){
    h1{ font-size: 50px;}
    h2{ font-size: 36px;}
    h3{ font-size: 30px;}
    body{
        font-size: 14px;
    }
    .container1 {
        max-width: calc(1240px + 30px);
        padding: 0px 15px;
        margin: 0 auto;
    }
}
