<main>
        <!-- ========== Start Hero ========== -->
        <section class="hero">
            <div class="container">
                <div class="hero_data">
                    <div class="hero_text">
                        <h2>ফ্রেঞ্চ ভাষা {A1,A2} শেখার পরিপূর্ণ কোর্স</h2>
                        <p class="text">একটি পূর্ণাঙ্গ কোর্স, যা আপনাকে ফ্রেঞ্চ ভাষার সব প্রধান ক্ষেত্রগুলো, সহজে আয়ত্ত করতে সাহায্য করবে – ফ্রেঞ্চ পড়া, কথা বলা, শোনা, এবং লেখা। এই এক কোর্সেই, আপনি ফ্রেঞ্চ ভাষার সব দক্ষতা অর্জন করতে পারবেন।</p>
                        <div class="reviews flex">
                            <p>Avg. Rating : 4.9</p>
                            <p>★★★★★</p>
                            <!-- <ul class="flex">
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                            </ul> -->
                        </div>
                        
                        <div class="flex teacher">
                                <!-- <span><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/Elta-Karim.jpg" alt="EltaKarim"></span> -->
                            <div>
                                <h4>Anonna Mohammad</h4>
                                
                                <p>Certified French language Teacher,</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="hero_video">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ngDdV1N4p4k?si=iFs1YNMJnndrhsTq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <div class="category">
            <div class="container">
                <ul class="flex">
                    <li> <a href="#overview">Course Overview</a></li>
                    <li>Curriculum</li>
                    <li>Mentor</li>
                    <li>Course Reviews</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
        </section>
        <!-- ========== End Hero ========== -->
         <section class="all_course">
            <div class="container">
                <ul class="class_details">
                    <li>
                        <div>
                            <h3>১২ ঘন্টা+ </h3>
                            <h6>Special Course</h6>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>৪টি স্কিল</h3>
                            <h6>Reading, Writing, Listening, Speaking</h6>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>ChatGPT</h3>
                            <h6>French learn Method</h6>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>Free</h3>
                            <h6>PDF, Notes, Vocabulary</h6>
                        </div>
                    </li>
                </ul>
                <br><br>
                <div class="section_header">
                    <h3>French প্রস্তুতির একটি পরিপূর্ণ কোর্স</h3>
                    <br>
                    <p>
                        আপনি যদি উচ্চ শিক্ষা, চাকরি, কিংবা ব্যবসার জন্য ফ্রান্স, বা ফ্রেঞ্চ-ভাষাভাষী কোনো দেশে যেতে চান, তবে ফ্রেঞ্চ ভাষা জানা আপনার জন্য অত্যন্ত গুরুত্বপূর্ণ।<br><br>
                        ✅ ফ্রেঞ্চ ভাষা শিখে, আপনি সহজেই ফ্রান্স, কানাডা, বেলজিয়াম, বা অন্যান্য ফ্রেঞ্চ ভাষাভাষী দেশে পড়াশোনা, বা কাজের সুযোগ পেতে পারেন।<br>
                        ✅ অনেক ফ্রেঞ্চ বিশ্ববিদ্যালয়, A1 বা A2 লেভেলের ভাষাজ্ঞান থাকলেই শিক্ষার্থী গ্রহণ করে — IELTS না থাকলেও সুযোগ পাওয়া যায়।<br>
                        ✅ বাংলাদেশে ফ্রেঞ্চ দূতাবাস, ও অনেক আন্তর্জাতিক প্রতিষ্ঠান রয়েছে, যেগুলোর সাথে কাজ করতে, ফ্রেঞ্চ ভাষাজ্ঞান থাকলে অগ্রাধিকার পাওয়া যায়।<br><br>
                        এই কোর্সটি, বাংলাদেশি শিক্ষার্থীদের জন্য বিশেষভাবে তৈরি, যেন তারা ফ্রেঞ্চ ভাষার সবদিক ভালোভাবে আয়ত্ত করে, ভবিষ্যতের সম্ভাবনাময় পথ তৈরি করতে পারে।
                    </p>

                </div>
                <div class="course_dtl">
                    <div>
                        <div class="ja_shikben">
                            <h4>🎓 Skill Academy নিয়ে এসেছে অনলাইন French প্রস্তুতি কোর্স</h4>
                            <br>
                            <ul>
                                <li><p>📘 A1 এবং A2 লেভেল কোর্স (ধাপে ধাপে প্রস্তুতির ব্যবস্থা)</p></li>
                                <li><p>🌍 আপনি এই ভাষা শিখে, অনুবাদক, ট্যুর গাইড, আন্তর্জাতিক বাণিজ্যের ভাষান্তরকারী, কিংবা ফ্রেঞ্চ ভাষাভিত্তিক দেশের বিভিন্ন প্রতিষ্ঠানে চাকরির সুযোগ পেতে পারেন।</p></li>
                                <li><p>💼 জব হোল্ডারদের জন্য রয়েছে আলাদা সুবিধা, কারণ ক্লাস রাতের দিকে।</p></li>
                                <li><p>👨‍🏫 দক্ষ ও ফ্রেঞ্চ ভাষায় অভিজ্ঞ শিক্ষকমণ্ডলী দ্বারা, ক্লাস পরিচালনা করা হয়।</p></li>
                                <li><p>📚 প্রয়োজনীয় নোটস ও শিট প্রদান করা হয় ক্লাস চলাকালীন, যাতে শেখা সহজ ও কার্যকর হয়।</p></li>
                                <li><p>📝 Listening, Speaking, Reading, Writing – প্রতিটি স্কিলের উপর আলাদা গুরুত্বারোপ করে, কোর্সটি সাজানো হয়েছে।</p></li>
                                <li><p>🎯 সর্বোপরি, A1, A2 পরীক্ষার জন্য সম্পূর্ণ প্রস্তুতি প্রদান করা হবে, যা আন্তর্জাতিকভাবে স্বীকৃত ফ্রেঞ্চ ভাষা দক্ষতার সনদ।</p></li>
                                <li><p>📄 PDF ও অন্যান্য কোর্স ম্যাটেরিয়ালস, সম্পূর্ণ ফ্রিতে প্রদান করা হবে।</p></li>
                                <br>
                                <div class="flex" style="color: red;">
                                    <h3><del>৫০০০৳</del></h3>
                                    <a href="https://skillbeeacademy.com/enroll/complete-french-course/">
                                        <button class="enroll_Now">Apply Now</button>
                                    </a>
                                </div>
                            </ul>

                        </div>
                    </div>
                    <div class="skills">
                        <div>
                            <p>
                                এই কোর্সটি, ফ্রেঞ্চ ভাষা শেখার চারটি মূল দক্ষতা বিকাশের উপর ফোকাস করবে: কথা বলা, শোনা, পড়া, এবং লেখা।<br><br>
                                আপনি শিখবেন, কীভাবে বাক্য গঠন করতে হয়, প্রশ্ন জিজ্ঞাসা করতে হয়, ক্রিয়াপদের ব্যবহার করতে হয়, এবং মৌলিক ফ্রেঞ্চ বাক্য তৈরির ধরণ আয়ত্ত করতে হয়।
                            </p>
                            <br>
                            <p><strong>কোর্সটির সাথে যা যা ফ্রী থাকছে:</strong></p>
                            <ul>
                                <li><small>✅ দক্ষ ও অভিজ্ঞ শিক্ষক দ্বারা পরিচালিত, লাইভ ক্লাস</small></li>
                                <li><small>✅ ChatGPT-এর মাধ্যমে, French language প্র্যাকটিস<br>
                                (ChatGPT-এর সাথে, ফ্রেঞ্চ ভাষায় সাবলীলভাবে কথা বলার সম্পূর্ণ প্রক্রিয়া শেখানো হবে)</small></li>
                                <li><small>✅ "সর্বাধিক ব্যবহৃত ফ্রেঞ্চ শব্দভাণ্ডার" এর উপর, ১০০০ শব্দের ফ্রি PDF<br>
                                (যা জানলে, ফ্রেঞ্চ ভাষায় কথা বলা হবে অনেক সহজ)</small></li>
                            </ul>
                            <br>
                            <p>
                                এই কোর্সের মাধ্যমে, ফ্রেঞ্চ ভাষা নিয়ে আপনার সব ভয় ও দুর্বলতা দূর হবে, আপনি ফ্রেঞ্চ ভাষায় হয়ে উঠবেন আত্মবিশ্বাসী ও সাবলীল।
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="video_reviews">
            <div class="container">
                <div class="section_header">
                    <h3>দেখুন কোর্সটি থেকে শেখা স্টুডেন্টরা কি বলছে-</h3>
                </div>
                <br>
                <!-- Swiper Slider -->
                <div class="swiper videoSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/rHRJ-BsLsR8?si=_exMsbwdkSQ4_0zN" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/lJN98L7YM9A?si=26cBNliljADM1kCl" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/xJlbfGd368A?si=z_dIsJsnDRac6qWe" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe width="100%" height="400" src="https://youtube.com/embed/Y-oycl5c75o?si=2QoWPiGVaq7rDjRX" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Navigation Buttons -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>

                <br>
                <div class="flex" style="justify-content: center; color: red;">
                    <h3><del>৫০০০৳</del></h3>
                    <a href="https://skillbeeacademy.com/enroll/complete-french-course/">
                        <button class="enroll_Now">Apply Now</button>
                    </a>
                </div>
            </div>
        </section>


         <section class="students">
            <div class="container">
                <div class="section_header">
                    <h4>ফ্রেঞ্চ ভাষা শেখার প্র্যাকটিক্যাল পদ্ধতিতে ভয়ের বাঁধা ভেঙে আত্মবিশ্বাস তৈরি করুন</h4>
                    <br>
                    <p>এই কোর্সটি, ফ্রেঞ্চ ভাষা শেখার চারটি মূল দক্ষতা বিকাশের উপর ফোকাস করবে: কথা বলা, শোনা, পড়া, এবং লেখা।
আপনি শিখবেন, কীভাবে বাক্য গঠন করতে হয়, প্রশ্ন জিজ্ঞাসা করতে হয়, ক্রিয়াপদের ব্যবহার করতে হয়, এবং মৌলিক ফ্রেঞ্চ বাক্য তৈরির ধরণ আয়ত্ত করতে হয়।</p>
                </div>
                <div class="student_dtl">
                    <br>
                    <h5>কোর্সটির সাথে যা যা ফ্রী থাকছে</h5>
                    <br>
                    <ul>
                        <li>✅ দক্ষ ও অভিজ্ঞ শিক্ষক দ্বারা পরিচালিত, লাইভ ক্লাস</li>
                        <li>✅ ChatGPT-এর মাধ্যমে, French language প্র্যাকটিস <br>
                            (ChatGPT-এর সাথে, ফ্রেঞ্চ ভাষায় সাবলীলভাবে কথা বলার সম্পূর্ণ প্রক্রিয়া শেখানো হবে)</li>
                        <li>✅ "সর্বাধিক ব্যবহৃত ফ্রেঞ্চ শব্দভাণ্ডার" এর উপর, ১০০০ শব্দের ফ্রি PDF <br>
                            (যা জানলে, ফ্রেঞ্চ ভাষায় কথা বলা হবে অনেক সহজ)</li>
                        <li>এই কোর্সের মাধ্যমে, ফ্রেঞ্চ ভাষা নিয়ে আপনার সব ভয় ও দুর্বলতা দূর হবে,<br>
                            আপনি ফ্রেঞ্চ ভাষায় হয়ে উঠবেন আত্মবিশ্বাসী ও সাবলীল।</li>
                    </ul>

                    <br><br>
                    <h5>কোর্সটি থেকে আপনি যা যা শিখতে পারবেন</h5>
                    <br>
                    <ul>
                        <li>✅ স্কুল-কলেজ, কিংবা আড্ডা-অফিসে, অনায়াসে সঠিক উচ্চারণে ফ্রেঞ্চ ভাষায় কথা বলা</li>
                        <li>✅ প্রাত্যহিক জীবনের বিভিন্ন পরিস্থিতিতে, স্মার্টলি ফ্রেঞ্চ ভাষায় কথা বলা</li>
                        <li>✅ ফ্রেঞ্চ ভাষায় কথা বলার সংকোচ, ও জড়তা দ্রুত কাটিয়ে ওঠা</li>
                        <li>✅ এতদিন ভুল জানতেন, এমন অনেক ফ্রেঞ্চ শব্দের সঠিক উচ্চারণ শিখে নেওয়া</li>
                        <li>✅ জব ইন্টারভিউ, প্রেজেন্টেশন, ভাইভা, দেশি-বিদেশি ক্লায়েন্ট মিটিং, কলিগদের সাথে আলাপচারিতা, পাবলিক স্পিকিং, অপরিচিত কারো সাথে কথা শুরু করা — ইত্যাদি ক্ষেত্রে, ফ্রেঞ্চ ভাষায় আত্মবিশ্বাসের সঙ্গে কথা বলা</li>
                        <li><strong>French Excellence-এর যাত্রা শুরু হোক এখনই!</strong></li>
                    </ul>

                    <br>
                </div>
                <div class="flex" style="justify-content: center; color: red;">
                    <h3><del>৫০০০৳</del></h3>
                    <a href="https://skillbeeacademy.com/enroll/complete-french-course/"><button class="enroll_Now">Apply Now</button></a>
                </div>
            </div>
        </section>

         
        <section class="faq" style="font-weight: 600;">
            <div class="container">
                <div class="section_header">
                    <h3>কোর্সটি কেন করবেন?</h3>
                </div>
                <br>
                <div class="faq_data" style="font-size: 16px;">
                    <ul>
                        <li>✅ French Certified Teacher</li>
                        <li>✅ পড়াশুনা, আন্তর্জাতিকমানের (World Class Education)</li>
                        <li>✅ ফ্রান্স, ও ফ্রেঞ্চভাষী দেশগুলোর অর্থনীতি, ও শিক্ষা ব্যবস্থা অত্যন্ত সমৃদ্ধ, এবং আন্তর্জাতিকভাবে স্বীকৃত</li>
                        <li>✅ ফ্রান্স একটি সুন্দর, পরিচ্ছন্ন, সুশৃঙ্খল, এবং সংস্কৃতিময় দেশ — যেখানে ভদ্র, ও সহানুভূতিশীল মানুষের বসবাস</li>
                        <li>✅ পার্ট টাইম জব পাওয়া, তুলনামূলকভাবে সহজ</li>
                        <li>✅ স্টুডেন্ট ভিসায়, প্রতি ঘণ্টায় প্রায় ১০–১২ ইউরো, বা তারও বেশি আয় করা যায় (দেশ, ও শহরভেদে ভিন্ন হতে পারে)</li>
                        <li>✅ পড়াশোনা শেষে, স্টুডেন্ট ভিসা পরিবর্তন করে, ফুলটাইম জব ভিসায় রূপান্তর করে, ফ্রান্সে দীর্ঘমেয়াদে থাকা সম্ভব</li>
                        <li>✅ যারা দেশে গ্র্যাজুয়েশন শেষ করেছেন, তারা চাইলে ফ্রেঞ্চ ভাষা কোর্স শেষ করে, ফ্রান্সে জব ভিসায় রূপান্তর করতে পারেন</li>
                        <li>✅ লেখাপড়া শেষ করে, নির্দিষ্ট সময় কাজ করার পর, Permanent Residency (PR), বা নাগরিকত্বের সুযোগ পাওয়া যায়</li>
                        <li>✅ ভিসা প্রসেস, ও অ্যাডমিশন প্রসেস অনেক সহজ, এবং ফ্রান্সের ভিসা রেশিও তুলনামূলকভাবে ভালো</li>
                        <li>✅ খরচ তুলনামূলকভাবে কম — ১ বছরের ভাষা কোর্সের টিউশন ফি, প্রায় ২.৫–৪ লক্ষ টাকা (ইউরো হিসেবে), যা অন্যান্য ইউরোপিয়ান দেশের তুলনায় সাশ্রয়ী</li>
                        <li>✅ ফ্রান্সে যাওয়ার পর, অনেকেই নিজের খরচ, নিজের আয় থেকেই চালাতে পারেন — বাইরে থেকে টাকা নেওয়ার দরকার হয় না</li>
                        <li>✅ শুধুমাত্র French Language Course (A1–A2) শেষ করে, আপনিও গ্রহণ করতে পারেন ফ্রান্সে উচ্চশিক্ষা, চাকরি, ও স্থায়ী বসবাসের সুযোগ</li>
                    </ul>

                    <br><br>
                    <p>---</p>
                    <p>এই কোর্সটি, আপনার জন্য খুলে দিতে পারে ফ্রান্সে নতুন জীবনের পথ।</p>
                </div>
            </div>
        </section>


<section class="course_curriculum" id="overview">
    <div class="container">
        <div class="section_header">
            <h3>Course Curriculum</h3>
            <h5 class="highlighted-text">
                কোর্সের সাথে থাকছে 
                <span style="color: #ff5722; font-weight: bold;">Recorded Class</span> + 
                <span style="color: #4caf50; font-weight: bold;">Bonus Live Class</span>
            </h5>
        </div>
        <div class="flex" style="justify-content: center; color: red;">
            <h3><del>৫০০০৳</del></h3>
            <a href="https://skillbeeacademy.com/enroll/complete-french-course/"><button class="enroll_Now">Apply Now</button></a>
        </div>
        <br>
        <ul>
            <li class="module_list">
                <div class="modules">
                    <p><b>Week</b></p>
                    <h1>1</h1>
                </div>
                <div>
                    <div>
                        <div class="free_demo flex">
                            <div class="flex">
                                <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                                <small>1 hour to complete</small>
                            </div>
                            <small>Unlock</small>
                        </div>
                        <br>
                        <h5>Introduction & A1 Foundation</h5>
                        <br>
                        <p class="line3">
                            Goal: Learn French alphabet, greetings, basic grammar, and simple sentences
                        </p>
                        <br><br>
                        <div class="free_demo flex">
                            <div class="flex">
                                <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                                <small>3 Videos</small>
                            </div>
                            <div class="seeMore_btn" onclick="allVideo()">
                                <button>See More</button>
                            </div>
                        </div>
                    </div>
                    <ol id="all_video">
                        <li class="video_wrapper">
                            <div class="free_demo flex">
                                <div>
                                    <h5>Class 1 Introduction to French Language with Alphabets</h5>
                                    <div class="flex">
                                        <small>Video -</small>
                                        <small>01:00:41</small>
                                    </div>
                                </div>
                                <small class="btn_primary free_video">See More</small>
                            </div>
                            <div class="course_video">
                                <iframe src="https://www.youtube.com/embed/FS9JtNHQOZI?si=lqidUMVcSLQBRAJr" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li class="video_wrapper">
                            <div class="free_demo flex">
                                <div>
                                    <h5>Class 2 French Grammar sentence with translation</h5>
                                    <div class="flex">
                                        <small>Video -</small>
                                        <small>00:50:26</small>
                                    </div>
                                </div>
                                <small class="btn_primary free_video">See More</small>
                            </div>
                            <div class="course_video">
                                <iframe src="https://www.youtube.com/embed/ddL316dPR3U?si=MqS1SPkLoi3uMleE" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                    </ol>
                </div>
            </li>
            <li class="module_list">
                <div class="modules">
                    <p><b>Week</b></p>
                    <h1>2</h1>
                </div>
                <div>
                    <div class="free_demo flex">
                        <div class="flex">
                            <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                            <small>1 hour to complete</small>
                        </div>
                        <small>Lock</small>
                    </div>
                    <br>
                    <h5>A1 Grammar & Communication</h5>
                    <br>
                    <p class="line3">
                        Goal: Practice daily conversation, -er verbs, questions, and vocabulary
                    </p>
                    <br><br>
                    <div class="free_demo flex">
                        <div class="flex">
                            <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                            <small>3 Videos</small>
                        </div>
                        <div class="seeMore_btn">
                            <b>See More</b>
                        </div>
                    </div>
                </div>
            </li>
            <li class="module_list">
                <div class="modules">
                    <p><b>Week</b></p>
                    <h1>3</h1>
                </div>
                <div>
                    <div class="free_demo flex">
                        <div class="flex">
                            <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                            <small>1 hour to complete</small>
                        </div>
                        <small>Lock</small>
                    </div>
                    <br>
                    <h5>A2 Foundation & Functional Language</h5>
                    <br>
                    <p class="line3">
                        Goal: Use past and future tenses, talk about travel, shopping, and opinions
                    </p>
                    <br><br>
                    <div class="free_demo flex">
                        <div class="flex">
                            <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                            <small>3 Videos</small>
                        </div>
                        <div class="seeMore_btn">
                            <b>See More</b>
                        </div>
                    </div>
                </div>
            </li>
            <li class="module_list">
                <div class="modules">
                    <p><b>Week</b></p>
                    <h1>4</h1>
                </div>
                <div>
                    <div class="free_demo flex">
                        <div class="flex">
                            <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                            <small>1 hour to complete</small>
                        </div>
                        <small>Lock</small>
                    </div>
                    <br>
                    <h5>A2 Advanced Grammar & Certification</h5>
                    <br>
                    <p class="line3">
                        Goal: Prepare for DELF with fluency, reflexive verbs, and real-life topics
                    </p>
                    <br><br>
                    <div class="free_demo flex">
                        <div class="flex">
                            <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i>
                            <small>3 Videos</small>
                        </div>
                        <div class="seeMore_btn">
                            <b>See More</b>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn_div">
            <button class="btn">Show More</button>
        </div>
    </div>
</section>



         <section class="mentor_details">
            <div class="container">
                <h3>মেন্টর পরিচিতি</h3>
                <br>
                    <div class="mentor_img">
                        <img src="https://skillbeeacademy.com/upload/images/french.jpg" alt="img">
                    </div>
            </div>
         </section>
         <section class="saying">
            <div style="display: flex; flex-direction: column; align-items: center; color: red;">
                <h3><del>৫০০০৳</del></h3>
                <a href="https://skillbeeacademy.com/enroll/complete-french-course/">
                <button class="enroll_Now">Apply Now</button>
                </a>
            </div>
            </section>

         <div class="modal">
            <div class="overlay" onclick="closePopup()"></div>
            <div class="popup popup1">
                <form action="https://skillbeeacademy.com/enroll/complete-french-course/" method="post">
                    <input type="text" placeholder="Full Name" required>
                    <input type="email" placeholder="Email" required>
                    <input type="tel" placeholder="Phone Number" required>
                    <div class="free_demo flex">
                        <button onclick="closePopup()">Close</button>
                        <button type="submit" onclick="submitData()">Submite</button>
                    </div>
                </form>
            </div>
            <div class="popup popup2">
                <form action="#" method="post">
                    <input type="text" placeholder="MD. SIBGATULLAH" readonly>
                    <input type="email" placeholder="sibgatullah667@gmail.com" readonly>
                    <input type="number" placeholder="01601706606" readonly>
                    <input type="text" placeholder="Price 999tk" readonly>
                    <input type="number" placeholder="Quantity 1" readonly>
                    <div class="free_demo flex" style="margin-top: 5px;">
                        <button onclick="closePopup()">Close</button>
                        <button type="submit">Confirm</button>
                    </div>
                </form>
            </div>
         </div>
    </main>