<main>
        <!-- ========== Start Hero ========== -->
        <section class="hero">
            <div class="container">
                <div class="hero_data">
                    <div class="hero_text">
                        <h2>IELTS শেখার পরিপূর্ণ কোর্স</h2>
                        <p class="text">এটি একটি পূর্ণাঙ্গ কোর্স যা আপনাকে IELTS-এর সব প্রধান দক্ষতা সহজে আয়ত্ত করতে সাহায্য করবে – রিডিং, স্পিকিং, লিসেনিং এবং রাইটিং। এই এক কোর্সেই আপনি IELTS পরীক্ষার জন্য প্রয়োজনীয় চারটি স্কিলই আয়ত্ত করতে পারবেন।"</p>
                        <div class="reviews flex">
                            <p>Avg. Rating : 4.8</p>
                            <p>★★★★★</p>
                            <!-- <ul class="flex">
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                                <li>
                                    <img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/star.svg" alt="star">
                                </li>
                            </ul> -->
                        </div>
                        
                        <div class="flex teacher">
                                <!-- <span><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/Elta-Karim.jpg" alt="EltaKarim"></span> -->
                            <div>
                                <h4>Anonna Mohammad</h4>
                                
                                <p>Certified IELTS language Teacher,</p>
                                <p>Band Score 7.5,8.0</p>
                            </div>
                        </div>
                    </div>
                    <div class="hero_video">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4flPCY2Osfk?si=5hBkOjK15KNYCH-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <div class="category">
            <div class="container">
                <ul class="flex">
                    <li> <a href="#overview">Course Overview</a></li>
                    <li>Curriculum</li>
                    <li>Mentor</li>
                    <li>Course Reviews</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
        </section>
        <!-- ========== End Hero ========== -->
         <section class="all_course">
            <div class="container">
                <ul class="class_details">
                    <li>
                        <div>
                            <h3>Band 6.5-8+</h3>
                            <h6>Complete IELTS Course</h6>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>৪টি স্কিল</h3>
                            <h6>Reading, Writing, Listening, Speaking</h6>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>Live</h3>
                            <h6>Class with Expert Trainers</h6>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>Free</h3>
                            <h6>PDF, Notes, Vocabulary</h6>
                        </div>
                    </li>
                </ul>
                <br><br>
                <div class="section_header">
                    <h3>IELTS প্রস্তুতির একটি পরিপূর্ণ কোর্স</h3>
                    <br>
                    <p>
                        আপনি যদি উচ্চ শিক্ষা, চাকরি কিংবা স্থায়ীভাবে বিদেশে বসবাসের জন্য ইউকে, কানাডা, অস্ট্রেলিয়া বা অন্যান্য ইংরেজিভাষী দেশে যেতে চান, তবে IELTS ভালো স্কোর করা আপনার জন্য অত্যন্ত গুরুত্বপূর্ণ।<br><br>
                        ✅ IELTS-এ ভালো স্কোর করে আপনি সহজেই কানাডা, ইউকে, অস্ট্রেলিয়া বা নিউজিল্যান্ডে পড়াশোনা বা কাজের সুযোগ পেতে পারেন।<br>
                        ✅ অনেক বিশ্ববিদ্যালয় ও অভিবাসন প্রক্রিয়ায় কমপক্ষে 6 বা 6.5 ব্যান্ড স্কোর থাকলেই আবেদন করা যায়।<br>
                        ✅ বাংলাদেশে অনেক আন্তর্জাতিক সংস্থা ও মাল্টিন্যাশনাল কোম্পানি আছে, যেগুলোতে চাকরি পেতে IELTS স্কোর থাকলে বাড়তি গুরুত্ব পাওয়া যায়।
                    </p>
                </div>
                <div class="course_dtl">
                    <div>
                        <div class="ja_shikben">
                            <h4>🎓 Skill Academy নিয়ে এসেছে অনলাইন IELTS প্রস্তুতি কোর্স</h4>
                            <br>
                            <ul>
                                <li><p>📘 Foundation to Advanced – ধাপে ধাপে প্রস্তুতির ব্যবস্থা</p></li>
                                <li><p>✅ Academic এবং General – উভয় মডিউলের জন্য প্রস্তুতি</p></li>
                                <li><p>💼 জব হোল্ডারদের জন্য রাতের ক্লাস – অফিস শেষে ক্লাসে অংশ নেওয়ার সুযোগ</p></li>
                                <li><p>📝 Reading, Writing, Listening, Speaking – প্রতিটি স্কিলের উপর আলাদা গুরুত্ব</p></li>
                                <li><p>📂 প্রয়োজনীয় নোটস, শিট ও এক্সাম ফোকাসড ম্যাটেরিয়ালস প্রদান</p></li>
                                <li><p>📄 PDF, প্ল্যানার ও কোর্স ম্যাটেরিয়ালস সম্পূর্ণ ফ্রি</p></li>
                                <br>
                                <div class="flex" style="color: red;">
                                    <h3><del>৫০০০৳</del></h3>
                                    <a href="https://skillbeeacademy.com/enroll/ielts-course/">
                                        <button class="enroll_Now">Apply Now</button>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="skills">
                        <div>
                            <h4>এই কোর্সটি IELTS পরীক্ষার চারটি প্রধান স্কিলের উপর ফোকাস করবে:</h4>
                            <br>
                            <ul>
                                <li><small>📌 কীভাবে IELTS রাইটিং টাস্ক ১ ও ২ ভালোভাবে লিখতে হয়</small></li>
                                <li><small>📌 কীভাবে Examiner-এর সামনে ফ্লুয়েন্টলি স্পিকিং করতে হয়</small></li>
                                <li><small>📌 কীভাবে Reading passage সহজে বুঝে উত্তর দিতে হয়</small></li>
                                <li><small>📌 কীভাবে Listening স্কোর ৭+ এ score করা যায়</small></li>
                                <li><small>✅ ChatGPT দিয়ে Speaking ও Writing প্র্যাকটিস শেখানো হবে</small></li>
                                <li><small>✅ ১০০০+ শব্দের IELTS Vocabulary PDF ফ্রি</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <section class="video_reviews">
            <div class="container">
                <div class="section_header">
                    <h3>দেখুন কোর্সটি থেকে শেখা স্টুডেন্টরা কি বলছে-</h3>
                </div>
                <br>
                <!-- Swiper Slider -->
                <div class="swiper videoSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwatch%2F%3Fv%3D1362440094655019%26rdid%3Da0sfIJPmETyRTHpA&width=500&show_text=false&appId=2742789426014533&height=889" width="100%" height="800px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwatch%2F%3Fv%3D2010547846092264%26rdid%3D0Fpt9wA9pzCy2TmZ&width=500&show_text=false&appId=2742789426014533&height=889" width="100%" height="800px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwatch%2F%3Fv%3D686737943927707%26rdid%3DALRSW7FKhlCrLJQs&width=500&show_text=false&appId=2742789426014533&height=891" width="100%" height="800px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review_video">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwatch%2F%3Fv%3D1169763924552403%26rdid%3DZWN4MLLZBv9SfdQw&width=500&show_text=false&appId=2742789426014533&height=889" width="100%" height="800px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Navigation Buttons -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>

                <br>
                <div class="flex" style="justify-content: center; color: red;">
                    <h3><del>৫০০০৳</del></h3>
                    <a href="https://skillbeeacademy.com/enroll/japanese-language-course/">
                        <button class="enroll_Now">Apply Now</button>
                    </a>
                </div>
            </div>
        </section>

         <section class="students">
            <div class="container">
                <div class="section_header">
                    <h4>IELTS পরীক্ষার জন্য প্র্যাকটিক্যাল প্রস্তুতির মাধ্যমে ভয়ের র barrier ভেঙে আত্মবিশ্বাস তৈরি</h4>
                    <br>
                    <p>এই কোর্সটি ভাষা শেখার চারটি দক্ষতা—কথা বলা, শোনা, পড়া এবং লেখা—বিকাশের উপর ফোকাস করবে। আপনি শিখবেন কিভাবে সঠিক বাক্য গঠন করতে হয়, প্রশ্ন করতে হয়, এবং ইংরেজিতে স্পষ্টভাবে নিজেকে প্রকাশ করতে হয়।</p>
                </div>
                <div class="student_dtl">
                    <br>
                    <h5>কোর্সটির সাথে যা যা ফ্রী থাকছে</h5>
                    <br>
                    <ul>
                        <li>IELTS-এ অভিজ্ঞ ও দক্ষ শিক্ষক দ্বারা পরিচালিত লাইভ ক্লাস</li>
                        <li>ChatGPT-এর সাথে IELTS Speaking ও Writing প্র্যাকটিস (AI টুল ব্যবহার করে নিজেই প্রতিদিন প্রস্তুতির কৌশল শেখানো হবে)</li>
                        <li>“সর্বাধিক ব্যবহৃত IELTS Vocabulary” – ১০০০+ শব্দের ফ্রি PDF (রাইটিং ও স্পিকিং স্কোর বাড়াতে সহায়তা করবে)</li>
                        <li>লাইভ ক্লাসে বিশেষ গিভঅ্যাওয়ে ও এক্সাম ফোকাসড ম্যাটেরিয়ালস</li>
                        <li>এই কোর্সের মাধ্যমে আপনি হয়ে উঠবেন আত্মবিশ্বাসী ও প্রস্তুত IELTS পরীক্ষার জন্য</li>
                    </ul>
                    <br><br>
                    <h5>কোর্সটি থেকে আপনি যা যা শিখতে পারবেন</h5>
                    <br>
                    <ul>
                        <li>স্কুল-কলেজ কিংবা অফিসে ইংরেজিতে সঠিক উচ্চারণে স্পষ্ট ও সাবলীলভাবে কথা বলা</li>
                        <li>পরীক্ষার Speaking পার্টে আত্মবিশ্বাসের সঙ্গে প্রশ্নের উত্তর দেওয়া</li>
                        <li>প্রাত্যহিক জীবনে বা অফিস, বিশ্ববিদ্যালয়ে বিভিন্ন পরিস্থিতিতে ইংরেজি দক্ষতার সঙ্গে কথা বলা</li>
                        <li>IELTS পরীক্ষার Speaking ও Writing-এ কমন ভুলগুলো কাটিয়ে ওঠা</li>
                        <li>জব ইন্টারভিউ, প্রেজেন্টেশন, ভাইভা, ক্লায়েন্ট মিটিং, পাবলিক স্পিকিং, অপরিচিত কারো সঙ্গে আলাপচারিতায় ইংরেজিতে আত্মবিশ্বাসী হওয়া</li>
                        <li>Listening ও Reading পার্টে দ্রুত ও কার্যকরীভাবে তথ্য বুঝে নেওয়া</li>
                        <li>Writing টাস্ক ১ ও ২-তে সঠিক ফরম্যাটে ও অর্থপূর্ণভাবে লেখা</li>
                        <li>IELTS Excellence-এর যাত্রা শুরু হোক এখনই!</li>
                    </ul>
                    <br>
                </div>
                <div class="flex" style="justify-content: center; color: red;">
                    <h3><del>৫০০০৳</del></h3>
                    <a href="https://skillbeeacademy.com/enroll/ielts-course/"><button class="enroll_Now">Apply Now</button></a>
                </div>
            </div>
        </section>

         
        <section class="faq" style="font-weight: 600;">
            <div class="container">
                <div class="section_header">
                    <h3>কোর্সটি কেন করবেন?</h3>
                </div>
                <br>
                <div class="faq_data" style="font-size: 16px;">
                    <ul>
                        <li>✅ Certified শিক্ষকদের দ্বারা ইংরেজি ভাষা শিক্ষা</li>
                        <li>✅ IELTS সার্টিফিকেট বিশ্বের প্রায় সকল দেশ ও প্রতিষ্ঠানে স্বীকৃত</li>
                        <li>✅ উচ্চশিক্ষা, চাকরি কিংবা অভিবাসনের জন্য IELTS-এ ভালো স্কোর থাকা আবশ্যক</li>
                        <li>✅ বিদেশে পড়াশোনা বা কাজের সুযোগ পেতে IELTS স্কোর গুরুত্বপূর্ণ ভূমিকা পালন করে</li>
                        <li>✅ পার্ট টাইম জবের সুযোগের জন্য IELTS স্কোর থাকা অনেক ক্ষেত্রে প্রয়োজন</li>
                        <li>✅ IELTS স্কোর থাকা মানে আপনি ইংরেজিতে দক্ষ, যা আপনাকে বিশ্বব্যাপী দরকারি করে তোলে</li>
                        <li>✅ পরীক্ষার বিভিন্ন অংশ (Speaking, Listening, Reading, Writing) নিয়ে সুনিপুণ দক্ষতা অর্জন</li>
                        <li>✅ কোর্স শেষে আপনি নিজেই আত্মবিশ্বাসী হয়ে উঠবেন ইংরেজি ভাষায় সাবলীল হওয়ার জন্য</li>
                        <li>✅ IELTS স্কোর অর্জনের মাধ্যমে উচ্চশিক্ষা, চাকরি, অভিবাসন ও ভবিষ্যৎ পরিকল্পনায় নতুন দিগন্ত খুলে যাবে</li>
                    </ul>
                    <br><br>
                    <p>---</p>
                    <p>এই কোর্সটি আপনার জন্য খুলে দিতে পারে IELTS-এ সফলতার পথে নতুন দিগন্ত।</p>
                </div>
            </div>
        </section>

         <section class="course_curriculum" id="overview">
            <div class="container">
                <div class="section_header">
                    <h3>Course Curriculum</h3>
                    <h5 class="highlighted-text">কোর্সের সাথে থাকছে Recorded <span style="color: #11a849;">Class+Bonus👉১ মাসের Live Class</span></h5>
                </div>
                <div class="flex" style="justify-content: center; color: red;">
                    <h3><del>৫০০০৳</del></h3>
                    <a href="https://skillbeeacademy.com/enroll/japanese-language-course/"><button class="enroll_Now">Apply Now</button></a>
                </div>
                <br>
                <ul>
                    <li class="module_list">
                        <div class="modules">
                            <p><b>Module</b></p>
                            <h1>1</h1>
                        </div>
                        <div>
                            <div>
                                <div class="free_demo flex">
                                    <div class="flex">
                                        <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                        <small>1 hour to complete</small>
                                    </div>
                                    <small>Unlock</small>
                                </div>
                                <br>
                                <h5>Your Japanese Speaking Goals (আপনার জাপানিজে কথা বলার লক্ষ্যসমূহ)</h5>
                                <br>
                                <p class="line3">
                                    এই মডিউলে আমরা জাপানিজ শিখতে গিয়ে যেসব চ্যালেঞ্জের সম্মুখীন হই, তা নিয়ে আলোচনা করবো। এই মডিউল থেকে আরো জানতে পারবেন জাপানিজ ভাষা কীভাবে বাংলা থেকে আলাদা এবং কোন বিষয়গুলো জাপানিজ বোঝাকে আরো কঠিন করে তোলে। এছাড়াও আপনি জানতে পারবেন কীভাবে আপনি এই কোর্স শুরু করার আগে আপনার ব্যক্তিগত
                                </p>
                                <br>
                                <br>
                                <div class="free_demo flex">
                                    <div class="flex">
                                        <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                        <small>3 Videos</small>
                                    </div>
                                    <div class="seeMore_btn" onclick="allVideo()">
                                        <button>See More</button>
                                    </div>
                                </div>
                            </div>
                            <ol id="all_video">
                                <li class="video_wrapper">
                                    <div class="free_demo flex">
                                        <div>
                                            <h5>Class -1(N5) - Japanese Language Introduction - Alphabet</h5>
                                            <div class="flex">
                                                <small>Video -</small>
                                                <small>23:45</small>
                                            </div>
                                        </div>
                                        <small class="btn_primary free_video">See More</small>
                                    </div>
                                    <div class="course_video">
                                        <iframe src="https://www.youtube.com/embed/7_sFw6PN0nM?si=q1X1j3v6ya0LgbY9" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                                    </div>
                                </li>
                                <li class="video_wrapper">
                                    <div class="free_demo flex">
                                        <div>
                                            <h5>Class 2 - Japanese Conversation</h5>
                                            <div class="flex">
                                                <small>Video -</small>
                                                <small>4:04</small>
                                            </div>
                                        </div>
                                        <small class="btn_primary free_video">See More</small>
                                    </div>
                                    <div class="course_video">
                                        <iframe src="https://www.youtube.com/embed/12EdFQck-U8?si=TrAKiZGRJ6NNBkwy" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                                    </div>
                                </li>
                                
                                
                            </ol>
                        </div>
                    </li>
                    <li class="module_list">
                        <div class="modules">
                            <p><b>Module</b></p>
                            <h1>2</h1>
                        </div>
                        <div>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>1 hour to complete</small>
                                </div>
                                <small>Lock</small>
                            </div>
                            <br>
                            <h5>📌 মডিউল 2: লিপি ও শব্দভাণ্ডার (Kana & Vocabulary)</h5>
                            <br>
                            <p class="line3">
                                এই মডিউলে আমরা হিরাগানা, কাতাকানা এবং কানজি (প্রাথমিক ৫০-১০০টি) শেখার পাশাপাশি, সাধারণ জাপানি শব্দভাণ্ডার (৮০০+ শব্দ) শিখবো। এর মধ্যে রয়েছে সংখ্যা, সময়, তারিখ এবং পরিবার সম্পর্কিত শব্দগুলি। এই মডিউলটি আপনাকে জাপানির লেখা ও শব্দভাণ্ডারের মূল ধারণা প্রদান করবে।
                            </p>
                            <br>
                            <br>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>3 Videos</small>
                                </div>
                                <div class="seeMore_btn">
                                    <b>See More</b>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="module_list">
                        <div class="modules">
                            <p><b>Module</b></p>
                            <h1>3</h1>
                        </div>
                        <div>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>1 hour to complete</small>
                                </div>
                                <small>Lock</small>
                            </div>
                            <br>
                            <h5>📌 মডিউল 3: ব্যাকরণ ও বাক্যগঠন (Grammar & Sentence Structure)</h5>
                            <br>
                            <p class="line3">
                                এই মডিউলে আমরা জাপানি ভাষার বাক্য গঠনের নিয়ম (SOV - Subject Object Verb), গুরুত্বপূর্ণ পার্টিকেলগুলি (は, が, を, に, で, と, も, から, まで), এবং ক্রিয়াপদের রূপান্তর শেখবো। এছাড়া অতীত, বর্তমান ও ভবিষ্যৎ কাল সম্পর্কে জানবো এবং সাধারণ বাক্য তৈরি ও অনুশীলন করবো।
                            </p>
                            <br>
                            <br>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>3 Videos</small>
                                </div>
                                <div class="seeMore_btn">
                                    <b>See More</b>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="module_list">
                        <div class="modules">
                            <p><b>Module</b></p>
                            <h1>4</h1>
                        </div>
                        <div>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>1 hour to complete</small>
                                </div>
                                <small>Lock</small>
                            </div>
                            <br>
                            <h5>📌 মডিউল 4: শ্রবণ ও পাঠ্য বোঝার দক্ষতা (Listening & Reading Comprehension)</h5>
                            <br>
                            <p class="line3">
                                এই মডিউলে আমরা ছোট ছোট প্যাসেজ পড়া ও অনুবাদ, সহজ অডিও ও কথোপকথন অনুশীলন, এবং ব্যক্তিগত পরিচিতি ও সাধারণ কথোপকথন শিখবো। এছাড়া জাপানি ভাষায় প্রশ্ন বোঝা ও উত্তর দেওয়ার দক্ষতা অর্জন করবো।
                            </p>
                            <br>
                            <br>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>3 Videos</small>
                                </div>
                                <div class="seeMore_btn">
                                    <b>See More</b>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="module_list">
                        <div class="modules">
                            <p><b>Module</b></p>
                            <h1>5</h1>
                        </div>
                        <div>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>1 hour to complete</small>
                                </div>
                                <small>Lock</small>
                            </div>
                            <br>
                            <h5>📌 মডিউল 5: পরীক্ষা প্রস্তুতি ও রিভিশন (Exam Preparation & Review)</h5>
                            <br>
                            <p class="line3">
                                এই মডিউলে আমরা JLPT N5 পরীক্ষার প্রশ্নপত্র সমাধান, দুর্বল বিষয় পুনরায় শেখা ও অনুশীলন, স্পিকিং ও রাইটিং অনুশীলন এবং চূড়ান্ত প্রস্তুতি ও পরীক্ষার কৌশল শেখার উপর ফোকাস করবো।
                            </p>
                            <br>
                            <br>
                            <div class="free_demo flex">
                                <div class="flex">
                                    <i><img src="https://cdn.jsdelivr.net/gh/mdsibgatullah/keeron/assets/images/curriculmnDuration.svg" alt="images"></i> 
                                    <small>3 Videos</small>
                                </div>
                                <div class="seeMore_btn">
                                    <b>See More</b>
                                </div>
                            </div>
                        </div>
                    </li>




                </ul>
            <div class="btn_div">
                <button class="btn">Show More</button>
            </div>
            </div>
         </section>

         <section class="mentor_details">
            <div class="container">
                <h3>মেন্টর পরিচিতি</h3>
                <br>
                    <div class="mentor_img">
                        <img src="https://skillbeeacademy.com/upload/images/ielts.jpg" alt="img">
                    </div>
            </div>
         </section>
         
         <div class="modal">
            <div class="overlay" onclick="closePopup()"></div>
            <div class="popup popup1">
                <form action="https://skillbeeacademy.com/enroll/japanese-language-course/" method="post">
                    <input type="text" placeholder="Full Name" required>
                    <input type="email" placeholder="Email" required>
                    <input type="tel" placeholder="Phone Number" required>
                    <div class="free_demo flex">
                        <button onclick="closePopup()">Close</button>
                        <button type="submit" onclick="submitData()">Submite</button>
                    </div>
                </form>
            </div>
            <div class="popup popup2">
                <form action="#" method="post">
                    <input type="text" placeholder="MD. SIBGATULLAH" readonly>
                    <input type="email" placeholder="sibgatullah667@gmail.com" readonly>
                    <input type="number" placeholder="01601706606" readonly>
                    <input type="text" placeholder="Price 999tk" readonly>
                    <input type="number" placeholder="Quantity 1" readonly>
                    <div class="free_demo flex" style="margin-top: 5px;">
                        <button onclick="closePopup()">Close</button>
                        <button type="submit">Confirm</button>
                    </div>
                </form>
            </div>
         </div>
    </main>