<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillbee - Enroll Courses</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.12.0/cdn.min.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'template/assets/css/headerfooter.css' %}">
  <link rel="stylesheet" href="{% static 'template/assets/css/allcss.css' %}">
  
  <!-- <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'custom-green': '#00b246',
            'custom-blue': '#0a2540'
          }
        }
      }
    }
  </script> -->
   
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              'keeron-blue': '#0A2044',
              'keeron-green': '#10B981',
              'custom-green': '#00b246',
            'custom-blue': '#0a2540'
            }
          }
        }
      }
    </script>
    <link rel="stylesheet" href="./assets/css/headerfooter.css">
    <style>
        /* body {
            background-color: #f8f9fa;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        } */
        .profile-banner {
            background: linear-gradient(90deg, #0e4686 0%, #1976d2 100%);
        }
    </style>
</head>
<body class="bg-gray-50">

    
 {% include 'template/header.html' %}

        {% include 'template1/singledd.html' %}
       {% include 'template/footer.html' %}

    <script src="./assets/js/headerfooter.js">
      
    </script>

   

</body>
</html>